#contact-page {
    left: 300%;
    background: var(--bgColor);
    z-index: 4;
}

#contact:target .page#contact-page {
    transform: translateX(-290%);
}

#contact-page .contact-title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5rem;
    margin-top: 100px;
    margin-left: 20%;
}

#contact-page .contact-body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2rem;
    margin-top: 30px;
    margin-left: 5px;
}

/* Social media icon styles */
#contact-page ul {
    margin-left: 200px;
    margin-top: 30px;
    display: flex;
}
#contact-page ul li {
    list-style: none;
    margin: 0 10px;
}
#contact-page ul li i {
    position: absolute;
    color: var(--iconDefault);
    font-size: 35px;
    transition: .5s;
    margin-left: -15px;
    line-height: 50px;
}
#contact-page ul li:nth-child(3) i {
    margin-left: -17px;
}
#contact-page ul li a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--iconBackgroundDefault);
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
#contact-page ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -5px);
    box-shadow: 0px 2px 5px var(--shadow);
}
#contact-page ul li a:hover > .fa {
    color: var(--iconHovered);
}
#contact-page ul li:nth-child(1) a:hover {
    background-color: #c9510c;
}
#contact-page ul li:nth-child(2) a:hover {
    background-color: #0077B5;
}
#contact-page ul li:nth-child(3) a:hover {
    background-color: #db4439;
}

/* Resume button styles */
#contact-page .resume-button {
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
    padding: 20px;
    font-size: 1.25rem;
    color: var(--brightOrange);
    position: relative;
    max-width: 200px;
    text-align: center;
    margin-top: 80px;
    margin-left: 260px;
    font-weight: 700;
}
#contact-page .resume-button:after, .resume-button:before {
    border: 2px solid var(--diamondOrange);
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}
#contact-page .resume-button:hover:after {
    transform: translate(-5px, -5px);
}
#contact-page .resume-button:hover:before {
    transform: translate(5px, 5px);
}

@media (max-width: 1000px) {
    #contact-page .contact-title {
        margin-top: 50px;
        margin-left: 15%;
        font-size: 2.4rem;
    }

    #contact-page .contact-body {
        margin-top: 30px;
        font-size: 1.3rem;
    }

    #contact-page ul {
        margin-left: 70px;
    }

    #contact-page .resume-button {
        margin-left: 130px;
    }
}

@media (max-width: 632px) {
    #contact:target .page#contact-page {
        transform: translateX(-280%);
    }

    #contact-page .contact-title {
        font-size: 2.4rem;
        margin-top: 50px;
        margin-left: 0%;
    }

    #contact-page .contact-body {
        font-size: 1.3rem;
        margin-top: 30px;
        margin-left: 5px;
    }

    #contact-page ul {
        margin-left: -10px;
    }

    #contact-page .resume-button {
        margin-left: 50px;
    }
}
