#home-page {
    z-index: 1;
    height: 100vh;
}

#home:target .page#home-page {
    transform: translateX(0);
}

#home-page .main-title-container {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5rem;
    margin-top: 35%;
    margin-left: 200px;
}

#home-page .main-title {
    background: linear-gradient(to right, white 50%, #fdc029 50%, #df861d);
    background-size: 200%;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: title-color-shift 1.5s ease-in-out 2.5s;
    animation-fill-mode: forwards;
}
@keyframes title-color-shift {
    from {background-position: 0%;}
    to {background-position: -100%;}
}

/* Typewriter animation */
#home-page .typewriter {
    font-size: 1.1rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .20em; /* Adjust as needed */
    animation: typewriter 2s steps(16) normal both,
            blinkTextCursor 800ms steps(30) infinite normal;
}
@keyframes typewriter{
    from {width: 0;}
    to {width: 11.7em;}
}
@keyframes blinkTextCursor{
    from {border-right-color: orange;}
    to {border-right-color: transparent;}
}

/* Social media icon styles */
#home-page .social-media ul {
    margin-left: 200px;
    margin-top: 30px;
    display: flex;
}
#home-page .social-media ul li {
    list-style: none;
    margin: 0 10px;
}
#home-page .social-media ul li .fa {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    transition: .5s;
}
#home-page .social-media ul li a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
#home-page .social-media ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -5px);
}
#home-page .social-media ul li a:hover > .fa {
    color: white;
}
#home-page .social-media ul li:nth-child(1) a:hover {
    background-color: #c9510c;
}
#home-page .social-media ul li:nth-child(2) a:hover {
    background-color: #0077B5;
}
#home-page .social-media ul li:nth-child(3) a:hover {
    background-color: #db4439;
}

/* Diamond graphic */
#home-page .diamonds {
    position: relative;
    left: 400px;
    top: -400px;
    opacity: 0.7;
}
#home-page .diamonds #top-diamond {
    animation: slowly-move-top-right 10s ease-in-out infinite alternate;
    transform-origin: bottom;
}
#home-page .diamonds #mid-diamond {
    animation: slowly-rotate-right 20s ease-in-out infinite alternate;
    transform-origin: center;
}
@keyframes slowly-rotate-right {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(30deg);}
}
#home-page .diamonds #bottom-diamond {
    animation: slowly-rotate-left 20s ease-in-out infinite alternate;
    transform-origin: center;
}
@keyframes slowly-rotate-left {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(-10deg);}
}