* {
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
}

html, body, section, .page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.2s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: white;
    background: #1f1f1f;
    overflow-x: hidden;
}

.page {
    position: absolute;
}

.page .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 0;
    width: 270px;
    height: 170px;
    margin: auto;
    text-align: center;
    transform: translateX(360%);
    line-height: 1.3;
}

.vertical-center {
    display: inline-block;
    position: absolute;
    margin: 30px 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.credits {
    position: fixed;
    font-family: 'Montserrat Alternates', sans-serif;
    bottom: 0;
    z-index: 20;
    color: white;
    width: 10%;
    text-align: center;
}
