#project-page {
    left: 200%;
    background: var(--bgColor);
    z-index: 3;
}

#projects:target .page#project-page {
    transform: translateX(-190%);
}

#project-page ul {
    list-style: none;
    margin-bottom: 20px;
}

#project-page a {
    text-decoration: none;
    color: var(--textColor);
}

#project-page .project-title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5rem;
    margin-top: 100px;
    margin-left: 20%;
}

#project-page .project-body {
    margin-top: 100px;
}

#project-page .project-container {
    border: 0.3px solid var(--cardBorder);
    max-width: 80%;
    padding: 10px;
    background-color: var(--cardbg);
    margin-top: 30px;
    margin-bottom: 30px;
}

#project-page .project-header {
    font-family: 'Corben', sans-serif;
    font-size: 1.5rem;
}

#project-page .project-date {
    font-family: 'Corben', sans-serif;
    font-size: 1rem;
    text-align: right;
    opacity: 0.7;
}

#project-page .project-description {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1rem;
    font-weight: var(--fontWeight);
}

#project-page .project-button {
    font-family: 'Corben', sans-serif;
    display: inline-block;
    border: 0.3px solid var(--brightOrange);
    background-color: var(--bgColor);
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

#project-page .project-button:hover {
    border-radius: 5px;
}

#project-page .project-tech {
    font-family: 'Corben', sans-serif;
    border: 0.3px solid var(--brightOrange);
    border-radius: 25px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 13px;
    font-size: 0.8rem;
    float: right;
    color: var(--diamondDarkOrange);
    opacity: 0.8;
}

@media (max-width: 991px) {
    #project-page .project-title {
        margin-left: 5%;
    }

    #project-page .project-tech {
        float: left;
    }
}

@media (max-width: 632px) {
    #projects:target .page#project-page {
        transform: translateX(-180%);
    }

    #project-page .project-title {
        font-size: 2.5rem;
        margin-top: 50px;
        margin-left: 10%;
    }

    #project-page .project-body {
        margin-top: 80px;
    }

    #project-page .project-container {
        max-width: 70%;
        padding: 10px;
    }

    #project-page .project-description {
        font-size: 1rem;
    }

    #project-page .project-button {
        font-size: 0.8rem;
    }
}
