#project-page {
    left: 200%;
    background: var(--bgColor);
    z-index: 3;
}

#projects:target .page#project-page {
    transform: translateX(-190%);
}

#project-page a {
    text-decoration: none;
    color: var(--textColor);
}

#project-page .project-title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5rem;
    margin-top: 100px;
    margin-left: 20%;
}

#project-page .project-body {
    margin-top: 100px;
}

#project-page .timeline {
    margin-left: 10%;
    max-width: 750px;
    padding: 25px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: "Montserrat Alternates", sans-serif;
    color: var(--textColor);
}
  
#project-page .timeline__component {
    margin: 0 20px 20px 20px;
}
  
#project-page .timeline__component--bg {
    padding: 1.5em;
    background-color: var(--cardbg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#project-page .timeline__component--bg:hover {
    box-shadow: 0 8px 16px 0 var(--shadow);
    transform: translate(0, -5px);
    cursor: pointer;
}

#project-page .timeline__middle {
    position: relative;
    background: var(--textColor);
}
  
#project-page .timeline__point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: var(--textColor);
    border-radius: 50%;
}

#project-page .timeline__date {
    font-weight: 600;
}
  
#project-page .timeline__date--right {
    text-align: right;
}
  
#project-page .timeline__title {
    margin: 0;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--diamondDarkOrange);
}

#project-page .timeline__tech {
    font-family: 'Corben', sans-serif;
    margin: 0;
    font-size: 1em;
    color: var(--diamondOrange);
}
  
#project-page .timeline__paragraph {
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: var(--fontWeight);
}



@media (max-width: 991px) {
    #project-page .project-title {
        margin-left: 5%;
    }
}

@media (max-width: 632px) {
    #projects:target .page#project-page {
        transform: translateX(-180%);
    }

    #project-page .project-title {
        font-size: 2.5rem;
        margin-top: 50px;
        margin-left: 10%;
    }

    #project-page .project-body {
        margin-top: 80px;
    }
}
